:root {
    --side-div-width: 250px;
    --search-input-width: 500px;
}

body {
    background-color: lightblue;
    height: 100%;
    color: #EDEDED;
}

p {
    margin-bottom: 0px;
}

a {
    color: #EDEDED;
}

.message-form {
    position: fixed;
    width: calc(100% - var(--side-div-width));
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

#warning-friend {
    margin-top: 20px;
    margin-bottom: -20px;
}

#side-div {
    width: var(--side-div-width);
    height: 100%;
    margin-left: 0;
    position: fixed;
    background-color: #171717;

}

#category-change {
    display: flex;
    justify-content: space-around;
    padding: 13.2px 0;
}

.add-btn {
    text-align: center;
    margin-top: -6px;
    margin-bottom: 10px;
}

#main-div {
    width: calc(100% - var(--side-div-width));
    height: 100%;
    margin-left: auto;
    margin-right: 0;
}

#main-div h2:not(.name-title) {
    text-align: center;
    padding-top: 20px;
}

#add-friend-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#search-div {
    margin-top: 50px;
}

#warning-friend {
    margin-bottom: 20px;
}

#search-btn {
    color: black;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
}

#search-friend {
    width: var(--search-input-width);
    margin-right: 20px;
    margin-bottom: 20px;
}

.friend-req-divs {
    background-color: white;
    width: 550px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.friend-div {
    height: 60px;
    display: flex;
    padding-left: 5px;
    align-items: center;
    background-color: #444444;
    margin-bottom: 5px;
    color: white
}

#self-div {
    border-bottom: 2px solid #EDEDED;
    height: 58.4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

#self-div a {
    height: 24px;
    margin-right: 5px;
}

#self-name {
    margin-left: 5px;
}

#username-p {
    color: #171717;
}

#upload-form {
    position: fixed;
    bottom: 0px;
    width: calc(100% - var(--side-div-width));
}

#upload-file-btn {
    border-radius: 0;
}

#gallery-items {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 60px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.img-holder {
    width: 275px;
    height: 275px;
    margin: 10px;
    position: relative;
}

.img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.trashcan-icon-gallery {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.trashcan-icon-gallery span {
    font-size: 30px;
    color: rgb(236, 11, 11);
}

.img-holder:hover>.trashcan-icon-gallery {
    display: inline;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#media-selector-popup {
    background-color: #444444;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 7px;
    z-index: 10;
    width: 1600px;
    max-width: 90%;
    height: 800px;
    max-height: 80%;
    display: flex;
}

#media-selector-popup.active {
    transform: translate(-50%, -50%) scale(1);
}

#media-selector-popup h2 {
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
}

#media-sel-div {
    width: 85%;
    justify-content: right;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
}

#send-img {
    width: 100%;
    height: 40px;
    background-color: #171717;
    color: #EDEDED;
    border: none;
    font-size: 20px;
}

#send-media-div {
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.select-icon-media {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.select-icon-media span {
    font-size: 30px;
    color: #007bff;
}

.img-holder:hover>.select-icon-media,
.select-icon-media.active {
    display: inline;
}